.container{
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    column-gap: 0rem;

}
.icon{
    float: left;
}

.nameWrapper{
    font-size: 21rem;
}

.iconWrapper{
    display: grid;
    grid-template-columns: 0.5fr 9.5fr;
}

.text{
    display: inline;
    font-size: 1.25rem;
    margin: 0rem;
    margin-bottom: 3rem;
    margin-left: 1rem;

}
.col1{

}

.col2{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    align-self: center;
    margin-top: 4rem;
}

.imgWrapper{
    border-radius: 1rem;
    width: 100%;

}

.name{
    color: white;
    font-size: 2rem;
}

.back{
    color:rgba(67, 56, 202, 1);
}

.upvotebutton{
    width: 80px;
    height: 30px;
    background-color: rgba(67, 56, 202, 1);
    color: white;
    cursor: pointer;
}

@media(min-width :1024px){
    .name{
        font-size: 3rem;
        color: black;
    }
    .container{
        grid-template-columns: 1fr 2fr 0.5fr;
        margin:2rem
    }
    .col1{
        width:600px;
        align-self:baseline;
        margin-bottom: 0px;
    }
    .col2{
        padding: 1rem;
        align-self: end;
        height: 330px;
    }
    .imgWrapper{
        border-radius: 1rem;
        width: 600px;
        height: 360px   ;
    }
}