.cardLayout{
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin: 2.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}

.card{
    justify-content: center;
}

.heading2{
    margin-left:1.5rem;
    font-size: 2rem;
    color: rgba(67, 56, 202, 1);
}

@media(min-width : 640px){
    .cardLayout{
        grid-template-columns: repeat(2,minmax(0,1fr));
        margin:1rem;
    }
    .banner{
        margin: 1rem;
    }
    
}

@media(min-width : 768px){
    .cardLayout{
        grid-template-columns: repeat(2,minmax(0,1fr));
        column-gap: 4rem;
    }

    
}

@media(min-width : 1024px){
    .cardLayout{
        grid-template-columns: repeat(3,minmax(0,1fr));
        column-gap: 1.25rem;
    }
}

@media(min-width : 1280px){
    .cardLayout{
        grid-template-columns: repeat(3,minmax(0,1fr));
        column-gap: 4rem;
        margin: 2.5rem;
    }
}